.main_cards{
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-around;

    .card {
        height: 20vw;
        position: relative;
        overflow: hidden;
        margin: 20px;
        border-radius: 10%;
        transition: transform 0.5s ease, box-shadow 0.2s ease;
        will-change: transform, filter;
        background-color: #040712;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform-origin: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 5px #1818FB
    }
}