*{
    margin: 0;
    padding: 0;
}
.background-all{
    background-image: url("./Components/subcomponents/images/body-bg-top.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}